body {
  /*text-align: center;*/
  min-width: 500px;
  font-family: monospace;
  font-size: 1.3em;
  font-style: normal;
  font-variant: normal;
  background: #C7C7C7;
  height: 100%;
box-sizing: border-box;
}

.cover{
  background-color: rgba(1, 1, 1, .0);
  height: 600px;
  width: 520px;
  position: absolute;
  top: -2%;
  left: -2%;
  z-index: 1;
}

div {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  /*fallback color*/
  color: black;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

span {
  text-transform: uppercase;
}

button {
  font-size: 14px;
  display: inline;
  padding: 2% 6%;
  font-weight: bold;
  border: 1px solid #505050;
  color: #4F4F4F;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#restart {

  padding: 1% 4%;
}

.center {
  text-align: center;
}
button:hover {
  color: black ;
  border: 1px solid #505050;
  animation-name: boingboing;
  animation-duration: 3s;
  -webkit-animation-name: boingboing;
  -webkit-animation-duration: 3s;
  animation-iteration-count:infinite;
  cursor: pointer;
}

#page {
  width: 100%;
  height: 100%;
}

#board {
  background: white;
  width: 500px; height: 500px;
}

#board .square {
  border: 2px solid #C7C7C7;
  box-sizing: border-box;
  float: left;
  height: 125px;
  width: 125px;
  text-align: center;
  line-height: 125px;
  cursor: pointer;
}

#board .clicked {
  cursor: default;
}

#board .square:hover {
  /*Change to fade in or something*/
  border: 1px solid #505050;
  /*fallback color*/
  color: grey;
  background: rgba(80,80,80,.6);
  animation-name: boingboing;
  animation-duration: 3s
  -webkit-animation-name: boingboing;
  -webkit-animation-duration: 3s;
  animation-iteration-count:infinite;
}

@keyframes boingboing {
  0%{
    opacity: .8;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: .8;
    transform: scale(1, 1);
  }
}

#board .square.red {
  background: url("../assets/red.png");
  background-size: 100% 100%;
  border: 1px solid black;
}

#board .square.blue {
  background: url("../assets/blue.png");
  background-size: 100% 100%;
  border: 1px solid black;
}

#rule-modal {
  position: fixed;
  top: 0;
  left: 0;
  /*fallback color*/
  background: black;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  height: 100%;
  width: 100%;
  animation-name: animatetop;
  animation-duration: 0.5s;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

.rules-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50%;
  padding: 20px;
}

/*Change @media queries for smaller size screens*/
//TODO

.conf-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #f00;
  opacity: 0.0;
  -webkit-animation-name: fallsway;
          animation-name: fallsway;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.confetti:nth-child(1) {
  z-index: 1;
  -webkit-animation-name: fallsway1;
          animation-name: fallsway1;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  background-color: #142378;
}
.confetti:nth-child(2) {
  z-index: 2;
  -webkit-animation-name: fallsway2;
          animation-name: fallsway2;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  background-color: #438062;
}
.confetti:nth-child(3) {
  z-index: 3;
  -webkit-animation-name: fallsway3;
          animation-name: fallsway3;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  background-color: #7e6ba5;
}
.confetti:nth-child(4) {
  z-index: 4;
  -webkit-animation-name: fallsway4;
          animation-name: fallsway4;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  background-color: #81f54c;
}
.confetti:nth-child(5) {
  z-index: 5;
  -webkit-animation-name: fallsway5;
          animation-name: fallsway5;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #e919c6;
}
.confetti:nth-child(6) {
  z-index: 6;
  -webkit-animation-name: fallsway6;
          animation-name: fallsway6;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  background-color: #e7dd3d;
}
.confetti:nth-child(7) {
  z-index: 7;
  -webkit-animation-name: fallsway7;
          animation-name: fallsway7;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  background-color: #2ca8a0;
}
.confetti:nth-child(8) {
  z-index: 8;
  -webkit-animation-name: fallsway8;
          animation-name: fallsway8;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  background-color: #cac806;
}
.confetti:nth-child(9) {
  z-index: 9;
  -webkit-animation-name: fallsway9;
          animation-name: fallsway9;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  background-color: #8bdc36;
}
.confetti:nth-child(10) {
  z-index: 10;
  -webkit-animation-name: fallsway10;
          animation-name: fallsway10;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: #7284d1;
}
.confetti:nth-child(11) {
  z-index: 11;
  -webkit-animation-name: fallsway11;
          animation-name: fallsway11;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  background-color: #910ae1;
}
.confetti:nth-child(12) {
  z-index: 12;
  -webkit-animation-name: fallsway12;
          animation-name: fallsway12;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  background-color: #9bed69;
}
.confetti:nth-child(13) {
  z-index: 13;
  -webkit-animation-name: fallsway13;
          animation-name: fallsway13;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  background-color: #f9f944;
}
.confetti:nth-child(14) {
  z-index: 14;
  -webkit-animation-name: fallsway14;
          animation-name: fallsway14;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  background-color: #7add23;
}
.confetti:nth-child(15) {
  z-index: 15;
  -webkit-animation-name: fallsway15;
          animation-name: fallsway15;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: #5355f3;
}
.confetti:nth-child(16) {
  z-index: 16;
  -webkit-animation-name: fallsway16;
          animation-name: fallsway16;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  background-color: #3e7572;
}
.confetti:nth-child(17) {
  z-index: 17;
  -webkit-animation-name: fallsway17;
          animation-name: fallsway17;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  background-color: #57bf9c;
}
.confetti:nth-child(18) {
  z-index: 18;
  -webkit-animation-name: fallsway18;
          animation-name: fallsway18;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  background-color: #8ba57a;
}
.confetti:nth-child(19) {
  z-index: 19;
  -webkit-animation-name: fallsway19;
          animation-name: fallsway19;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  background-color: #83dcb3;
}
.confetti:nth-child(20) {
  z-index: 20;
  -webkit-animation-name: fallsway20;
          animation-name: fallsway20;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  background-color: #f4c7a0;
}

@-webkit-keyframes fallsway1 {
  0% {
    top: -5%;
    left: 18%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 37%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 71%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}

@keyframes fallsway1 {
  0% {
    top: -5%;
    left: 18%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 37%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 71%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway2 {
  0% {
    top: -5%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 88%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 14%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway2 {
  0% {
    top: -5%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 88%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 14%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway3 {
  0% {
    top: -5%;
    left: 5%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 6%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 20%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway3 {
  0% {
    top: -5%;
    left: 5%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 6%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 20%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway4 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 18%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 27%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway4 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 18%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 27%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway5 {
  0% {
    top: -5%;
    left: 72%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 86%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 32%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway5 {
  0% {
    top: -5%;
    left: 72%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 86%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 32%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway6 {
  0% {
    top: -5%;
    left: 41%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 91%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 12%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway6 {
  0% {
    top: -5%;
    left: 41%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 91%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 12%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway7 {
  0% {
    top: -5%;
    left: 23%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 77%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 72%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway7 {
  0% {
    top: -5%;
    left: 23%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 77%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 72%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway8 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 76%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 76%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway8 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 76%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 76%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway9 {
  0% {
    top: -5%;
    left: 17%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 60%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway9 {
  0% {
    top: -5%;
    left: 17%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 60%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway10 {
  0% {
    top: -5%;
    left: 73%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 20%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 57%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway10 {
  0% {
    top: -5%;
    left: 73%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 20%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 57%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway11 {
  0% {
    top: -5%;
    left: 53%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 10%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 26%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway11 {
  0% {
    top: -5%;
    left: 53%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 10%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 26%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway12 {
  0% {
    top: -5%;
    left: 37%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 42%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 81%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway12 {
  0% {
    top: -5%;
    left: 37%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 42%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 81%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway13 {
  0% {
    top: -5%;
    left: 47%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 95%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 52%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway13 {
  0% {
    top: -5%;
    left: 47%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 95%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 52%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway14 {
  0% {
    top: -5%;
    left: 94%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 54%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 15%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway14 {
  0% {
    top: -5%;
    left: 94%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 54%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 15%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway15 {
  0% {
    top: -5%;
    left: 70%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 40%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 74%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway15 {
  0% {
    top: -5%;
    left: 70%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 40%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 74%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway16 {
  0% {
    top: -5%;
    left: 30%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 52%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 76%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway16 {
  0% {
    top: -5%;
    left: 30%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 52%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 76%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway17 {
  0% {
    top: -5%;
    left: 23%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 26%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 66%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway17 {
  0% {
    top: -5%;
    left: 23%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 26%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 66%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway18 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 84%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 36%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway18 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 84%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 36%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway19 {
  0% {
    top: -5%;
    left: 91%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 54%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway19 {
  0% {
    top: -5%;
    left: 91%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 54%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway20 {
  0% {
    top: -5%;
    left: 28%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 84%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 16%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway20 {
  0% {
    top: -5%;
    left: 28%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 84%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 16%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway {
  0% {
    top: -10%;
    left: 72%;
    opacity: 1.0;
  }
  25% {
    left: 20%;
  }
  50% {
    left: 32%;
  }
  75% {
    left: 32%;
  }
  100% {
    top: 110%;
    left: 19%;
    opacity: 1.0;
  }
}
@keyframes fallsway {
  0% {
    top: -10%;
    left: 72%;
    opacity: 1.0;
  }
  25% {
    left: 20%;
  }
  50% {
    left: 32%;
  }
  75% {
    left: 32%;
  }
  100% {
    top: 110%;
    left: 19%;
    opacity: 1.0;
  }
}



