.background {
  -webkit-animation: spinX 8s linear infinite;
  background: url("https://media.giphy.com/media/3oz8xH46dD1DSx3vNK/source.gif") repeat center center;
  position: absolute;
  left: -40%;
  top: -80%;
  width: 100%;
  height: 100%;
  padding: 40%;
}

@-webkit-keyframes spinX
{
  0%   {-webkit-transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg);}
}
